---
import Layout from "@layouts/Layout.astro";
import Section from "@components/Section.svelte";
import Container from "@components/Container.svelte";
import Title from "@components/Title.svelte";
import Date from "@components/Date.svelte";
import TagList from "@components/TagList.svelte";

interface Props {
	title: string;
	description: string;
	keywords: string[];
	date: string;
}
const { title, description, keywords, date } = Astro.props;
---

<Layout title={title} description={description} keywords={keywords}>
  <Section>
    <Container bottom={4}>
      <Title>{title}</Title>
    </Container>
    <Container bottom={6}>
      <Date date={date} />
    </Container>
    <Container bottom={6}>
      <TagList tags={keywords} />
    </Container>
  </Section>
  <Section>
    <slot />
  </Section>
</Layout>

<style></style>
